*~
~*
run_*.sh
run_*.log
*.sh.*
output_wmc*.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
pluto_run

# CMake folder
build/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Proton variables files
ProtonVariables-*.txt
proton_momentum_theta-*.txt

# WMC
etap.*
epio*
fort.*
test.*
wmc.dat

# Specific files
WMC.*
smear.txt
*.root
main
wmc_tmp*
log*
